
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Directories
data/
figures/
figures_manuscript/
figures_manuscript_final/
functions_plotting/
data_cpu_20_wall/
data_cpu_40_wall/
Normal_cpu_20_t_3_large_n/
data_wall/
xinning_data/

# Data files
*.mat
*.txt
*.dat

# Figure files
*.fig
*.png
*.eps
*.asv
